db.sqlite3
shimla/__pycache__
home/__pycache__/
home/migrations/__pycache__/
accounts/__pycache__/
accounts/migrations/__pycache__/
accounts/migrations/*
!accounts/migrations/__init__.py
accounts/templatetags/__pycache__/
