:root {
    --color0: yellowgreen;
    --color1: #0d1117;
    --color2: #161b22;
    --color3: #768a8b;
    --color4: #ff4454;
}

body {
    background-color: var(--color1);
    color: var(--color3);
}

h1{
    color: var(--color0);
}

table{
    background-color: var(--color2);
    color: var(--color3);
}


th,td {
    border-bottom: 1px solid var(--color3);
    text-align: center;
    padding: 10px;
}

a{
    color: var(--color3);
    text-decoration: none;
}

.icon{
    width: 30px;
}

.accounts-link a{
    border: 1px solid;
    padding: 10px;
}

.btn .add{
    border: 1px solid;
    padding: 10px;
}


.errorlist li{
    color: var(--color4);
}

/* ----- forms ----- */

form input{
    border: 1px solid;
    background-color: var(--color2);
    color: var(--color3);
    padding: 10px;
}

form .submit{
    border: 1px solid;
    background-color: var(--color0);
    color: var(--color1);
    padding: 10px;
}


/* ----- state ----- */
.state .group{
    display: flex;
    align-items: center;
    gap: 6px;
    margin-bottom: 10px;
}