{% extends 'theme-i/base.html' %}
{% load static %}
{% block title %}SSH users{% endblock %}
{% block content %}
<h1>SSH users</h1>
<div class="btn">
    <a class="add" href="{% url 'accounts:ssh_create' %}">+</a>
</div>
<br>
<div>
    <table style="width:100%">
        <tr>
            <th>Users</th>
            <th>Password</th>
            <th>Delete</th>
        </tr>
        {% for data in ssh_accounts %}
        <tr>
            <td>{{ data.username }}</td>
            <td>{{ data.password }}</td>
            <td>
                <a href="{% url 'accounts:ssh_delete' pk=data.pk %}">
                    <img class="icon" src="{% static 'global/images/delete.png' %}" alt="delete">
                </a>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}